<div math>
<h2>
Superposition States:
</h2>

Any superposition of solutions is also a valid solution to the Time Dependent Schrodinger Equation.
Therefore, we can write the general solution as:

<div style="font-size: 133%;">
$$
\Psi(x) = c_1 \psi_1(x) + c_2 \psi_2(x) + c_3 \psi_3(x) ...
$$
</div>

We will use $\Psi$ to denote the wavefunction and $\psi_n$ to denote the $n^{th}$ eigenstate.
In general, the summation of states can run to infinity, but for now we will only consider superpositions constructed using the first three eigenstates.
<br>
<br>
<br>

<h3>
    Complex Coefficients
</h3>
The wavefunction postulate of quantum mechanics states that the wavefunction can be a complex-valued function.
Therefore, the coefficients $c_n$ can be complex numbers.
One common way to represent complex numbers is to use a complex exponential function.

$$
\begin{align}
c &= |c| e^{i \theta}\\
&=|c| (\cos{\theta} + i \sin{\theta})
\end{align}
$$

$$
\begin{align}
|c| &= \sqrt{\mathrm{Re}(c)^2 + \mathrm{Im}(c)^2} & \theta &= \cos^{-1}{\left(\frac{\mathrm{Re}(c)}{|c|}\right)}
\end{align}
$$
In this notation, $\theta$ is called the phase, and $|c|$ is the modulus.
This notation is convenient in QM because now we can easily take the modulus squared to obtain probabilities, and time dependence happens through the changing phases.

<br>
<br>

<h3>
    Normalization Condition
</h3>
The only other constraint on our coefficients $c_n$ are that they must satisfy the normalization condition, which requires:

<div style="font-size: 133%;">
$$
\int_{-\infty}^\infty|\Psi(x)|^2 = 1 \\
|c_1|^2 + |c_2|^2 + |c_3|^2= 1
$$
</div>

<h3>
    Interference Patterns
</h3>
Now, we can write down an expression for a wavefunction that consists of contributions from the first three particle in a box eigenstates.

<div style="font-size: 133%;">
$$
\Psi(x,0) = |c_1|e^{i\theta_1} \psi_1(x) + |c_2|e^{i\theta_2} \psi_2(x) + |c_3|e^{i\theta_3} \psi_3(x)
$$
</div>
Below is a demo to explore how changing the coefficients $c_n$ changes the wavefunction.
Note how interference patterns occur as a natural consequence of adding positive, negative, and complex numbers together.
You can click and drag the plots to get a better perspective of the complex plane.
In these plots, the horizontal axis is the x-axis, and the other 2 axes correspond to the complex plane.

<br>
<br>

<div class='container' style="background-color:#f6f6f6" >
<h3>Eigenstates:</h3>
<div ng-repeat="state in eigenList" class="col-md-4">
    <span perspective>
    <p class="text-center" style="font-size: 133%;">
        $\psi_{{state.number}}$
    </p>
    <div class="center-block">
        <phase-plot wave="state"></phase-plot>
    </div>
    <canvas-plot wave="state"></canvas-plot>
    </span perspective>
    <div class="center-block">
        <label>Initial Phase $\theta_{{state.number}}$</label>
        <phase-slider wave="state"></phase-slider>
        <br>
        <br>
        <label>Magnitude $|c_{{state.number}}|$</label>
        <magnitude-slider wave="state"></phase-slider>
    </div>
</div>
</div>

<div class="col-xs-12" style="height:40px;"></div>

<span perspective>

<h3>Wavefunction:</h3>
<div class="text-center">
<superpos-eqn wave="superposition" style="font-size: 130%;" class="text-center"></superpos-eqn>
<div>

<br>
<div class="col-md-4">
    <p class="text-center" style="font-size: 150%;">
        $\psi_1(x), \psi_2(x), \psi_3(x)$
    </p>
    <canvas-plot wave="eigenList"></canvas-plot>
    <p>
    Plot of all three eigenstates superimposed on top of each other.
    </p>
</div>
<div class="col-md-4">
    <p class="text-center" style="font-size: 150%;">
        $\Psi(x)$
    </p>
    <canvas-plot wave="superposition"></canvas-plot>
    <p>
    Plot of the wavefunction.
    </p>
</div>
<div class="col-md-4">
    <p class="text-center" style="font-size: 150%;">
        $|\Psi(x)|^2$
    </p>
    <canvas-plot wave="modulus"></canvas-plot>
    <p>
    Plot of the wavefunction's probability density.
    </p>
</div>
</span perspective>
</div math>

<div class="col-xs-12" style="height:40px;"></div>
<div class="text-center">
<nav>
  <ul class="pager">
    <li class="previous"><a href="#/part-box">Prev</a></li>
    <li class="next"><a href="#/time-evolve">Next</a></li>
  </ul>
</nav>
</div>
