<span>$ \Psi(x,$</span>
<span style="width: 25px; display: inline-block">{{Timer.time| number:0}}</span>
<span>$) = $</span>
<span ng-repeat="state in wave.eigenList">
    <span style="color:#3B7EA1">{{state.mag / 100}}</span>
    <span>e<sup>i</sup></span>
    <span style="color:#d19000; width: 25px; display: inline-block">
        <sup>
        {{(state.currPhase / 3.1415926 % 2)  | number:1}}𝜋
        </sup>
    </span>
    <span>$\psi_{{state.number}}(x)$ </span>
    <span>{{$last ? '' : "$+$"}}</span>
</span>
