<div class="container">
<div math>
<h2>
Time Evolution
</h2>
<br>
The equation that governs time evolution in quantum mechanics is the Time Dependent Schrodinger Equation:

$$
i\hbar\frac{\partial}{\partial t} \Psi(r,t) = \hat{H}\Psi(r,t)
$$

For time-independent Hamiltonians, the general solution is given as:
$$
\begin{align}
i\hbar\frac{\partial}{\partial t} \Psi(r,t) &= \hat{H}\Psi(r,t)\\
\frac{\partial}{\partial t} \Psi(r,t) &= -\frac{i}{\hbar}\hat{H}\Psi(r,t)
\end{align}
$$


$$
\Psi(r,t) = e^{-\frac{i}{\hbar}\hat{H}t}\Psi(r,0)\\
$$
where $\Psi(r,0)$ is the initial condition.
This means if we know $\Psi(r,0)$, the state of our system at time $t=0$, and we know the Hamiltonian, we can know what the state of the system at any future time as well.
The exponential operator $e^{-\frac{i}{\hbar}\hat{H}t}$ is called the time evolution operator, and satisfies:

$$
e^{-\frac{i}{\hbar}\hat{H}t} \psi_n(x,0) = e^{-\frac{i}{\hbar}E_nt} \psi_n(x,0)
$$

for the energy eigenstates $\psi_n$. (This can be shown to be true if you Taylor expand the time evolution operator, and apply the Time Independent Schrodinger Equation).

<br>

Now, we can write down the expression for an arbitrary  time-dependent wavefunction consisting of the first three eigenstates:

<div style="font-size: 133%;">
$$
\Psi(x,t) = c_1e^{\frac{i}{\hbar} E_1 t} \psi_1(x) + c_2e^{\frac{i}{\hbar} E_2 t} \psi_2(x) + c_3e^{\frac{i}{\hbar} E_3 t} \psi_3(x)
$$
</div>

Note that all of the time dependence is in the phase of the coefficients in front of each eigenstate.
This means that time dependence of a wavefunction enters into our expression by changing the phase of each eigenstate, at a frequency proportional to the energy of that eigenstate.
<br>
<br>


</div math>

<div class="col-xs-12" style="height:40px;"></div>
<div class="text-center">
<nav>
  <ul class="pager">
    <li class="previous"><a href="#/superposition">Prev</a></li>
    <li class="next" ui-sref="demo.box"><a>Particle in a Box Demo</a></li>
  </ul>
</nav>
</div>
